body {
   background: #F0F8FF;
   color: #2F4F4F;
   font-family: helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 64px
}

label{
	text-align: center;
}

#buttonblock{
	text-align:center;
}

.loghistory {
	display: inline-block;
	border: 1px black solid;
	width: 200px;
	float: left;
}

.btn {
    background: #B0E0E6;
    border-style: none;
    text-align: center;
    color: white
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    margin: 50px;
	text-decoration: none;
	display: inline;
}
