* {
   padding: 0;
   margin: 0;
}
 
body {
   background: #F0F8FF;
   color: #7B68EE;
   font-family: helvetica, sans-serif;
}

#bigblock {
    text-align: center;
    color: #2F4F4F;
    margin: 50px auto;
}

#buttonblock{
	text-align:center;
}

h1 {
  text-align: center;
  font-size: 64px
}

h2 {
  text-align: center;
  color: #4682B4;
  margin: 40px;
  font-size: 40px
}

h3{
	text-align: left;
	color: #4682B4;
	
}

.btn {
    background: #B0E0E6;
    border-style: none;
    
    color: white
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    margin: 50px;
	text-decoration: none;
	display: inline;
}
