body {
   background: #F0F8FF;
   font-family: helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 25px
}

h1 {
  text-align: center;
}

#sidebar{
	text-align: left;
	position: absolute;
	width: 200px; 
	background: #F0F8FD; 
    top: 82px;  
	padding: 10px; 
}
