body {
	min-width: 800px;
}

.ballr {

}

.loghistory {
	display: inline-block;
	border: 1px black solid;
	width: 200px;
	float: left;
}

.btblockg {
	border: 1px black solid;
	float: right;
	display: inline-block;
	width: 200px;
}

.clicksg {
	font-size: 55px;
}
.ball_t {
	display: inline-block;
	border: 1px black solid;
	margin-left: 10px;
	margin-right: 10px;
}

.ball {
	height: 50px;
	width: 50px;
	background-color: rgb(26, 246, 24);
	border: 1px black solid;
	display: inline-block;
	border-radius: 100%;
}

.ball:hover {
	background-color: rgb(10, 255, 24);
}